<%= simple_form_for @order, html: { id: :orderform } do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
  <%= hidden_field_tag(:stripeToken) %>
  <%= hidden_field_tag(:stripeEmail) %>
    <div align="center">
      <div class="container">
          <%= f.input :order_profile_id, :input_html => {:id => "selected_profile_id", :value => "", :class => "hidden order_profile_id_hit"} %>
        <!-- big button logo begins -->
        <div class="form-actions" id="submitorder">
          <%= image_submit_tag("button-logo.svg", class: "bigbutton", id: "submitorder") %>
        </div>
      </div>
    </div>
      <!-- big button logo ends -->

      <!-- order profile dropdown begins -->
      <div class="btn-group dropup dropup-pad">
        <button type="button" class="btn btn-default">Order Profiles</button>
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <% current_user.order_profiles.each do |o| %>
            <li><a class="selected_product cojeme_aqui" data-profile="<%= o['id'] %>" tabindex="-1"><%= o['name'] %></a></li>
            <li style="visibility:hidden"><%= o['id'] %></li>
          <% end %>
          <li role="presentation" class="divider"></li>
          <li><a href="/order_profiles">Create New Order Profile</a></li>
        </ul>
      </div>

    <p align="center" id="notice"><%= notice %></p>


  </div>
<% end %>
