<%= simple_form_for @order, html: { id: :orderform } do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
  <%= hidden_field_tag(:stripeToken) %>
  <%= hidden_field_tag(:stripeEmail) %>
    <div align="center">
    <div class="container">
        <%= f.input :order_profile_id, :input_html => {:id => "selected_profile_id", :value => "", :class => "hidden"} %>
      <!-- big button logo begins -->
      <div class="form-actions" id="submitorder">
        <%= image_submit_tag("button-logo.svg", class: "bigbutton", id: "submitorder") %>
      </div>


      <!-- big button logo ends -->
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown-menu">
          Order Profiles<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
          <% @order_profiles.each do |o| %>
          <li class="profile_options">
            <%= o['name'] %>
          </li>
          <li style="visibility:hidden"><%= o['id'] %>
          <% end %>
        </ul>


      </div>
    </div>
    <p id="notice"><%= notice %></p>
  </div>
  </div>
<% end %>
