<div class="reg-body text-center">
  <h2>REGISTRATION</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs reg-form text-center form-align">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
      <%= f.input :password_confirmation, required: true %>
    </div>

    <div class="form-actions text-center">

      <!-- CHANGED BUTTON TEXT TO PRE-REGISTER -->

      <%= f.button :button, "SIGN UP", class: "button-hover form-align", "data-text"=>"SIGN UP" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
